* {
    margin: 0; 
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* NAVIGATION BAR */

nav {
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    font-size: 1em;
    margin: 1em 5em 1em 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(15, 122, 184);
}

nav ul li a:active {
    text-decoration: underline red solid ;
}

/* MAIN */

main {
    height: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.8fr 1fr 3fr 0.8fr; 
    grid-template-rows: 2em auto auto auto auto auto; 
    gap: 0em 0em; 
    grid-template-areas: 
    ". . . ."
    ". r-about c-about ."
    ". r-education c-education ."
    ". r-techskills c-techskills ."
    ". r-skills c-skills ."
    ". r-work c-work ."; 
}

/* RIBBON */

.r-about {
    grid-area: r-about;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.r-about img {
    height: 10em;
    margin-top: 5rem;
}

.r-education {
    background-color: cornsilk;
    grid-area: r-education;
    display: flex;
}


/* CONTENT */

.c-about {
    grid-area: c-about;
    background-color: cornflowerblue;
}

.c-about h1 {
    margin: 5rem 0 0 4%;
    font-size: 2.8em;
}

.c-about ul {
    list-style: none;
    margin: 0 0 0 4%;
}

.c-about ul li {
    margin: 0 0 0.25em 0;
    font-size: 1.05rem;
}

.c-about ul li:first-of-type {
    margin-top: 1em;
}

.c-about ul li img {
    height: 1em;
    margin-right: 0.6em;
    margin-bottom: -0.1em;
}